<div class="language-buttons-container">
    <a href="{{ site.baseurl }}/ar/" class="language-button" id="ar-button" data-path="/ar/">
        <i class="material-icons">language</i>
        <div class="button-label">AR</div>
    </a>
    <a href="{{ site.baseurl }}/en/" class="language-button" id="en-button" data-path="/en/">
        <i class="material-icons">language</i>
        <div class="button-label">EN</div>
    </a>
</div>
<div class="buttons-container">
    <a href="{{ site.baseurl }}/en/" class="button main-button" id="home-button" data-en-label="Home" data-ar-label="الصفحة الرئيسية">
        <i class="material-icons">home</i>
        <div class="button-label">Home</div>
    </a>
    <a href="{{ site.baseurl }}/en/#search" class="button main-button" id="search-button" data-en-label="Search" data-ar-label="بحث">
        <i class="material-icons">search</i>
        <div class="button-label">Search</div>
    </a>
    <a href="{{ site.baseurl }}/en/#about" class="button main-button" id="about-button" data-en-label="About" data-ar-label="حول بيب">
        <i class="material-icons">info</i>
        <div class="button-label">About</div>
    </a>
    <a href="{{ site.baseurl }}/en/download" class="button main-button" id="download-button" data-en-label="Download" data-ar-label="تحميل البرنامج ">
        <i class="material-icons">cloud_download</i>
        <div class="button-label">Download</div>
    </a>
    <a href="{{ site.baseurl }}/en/videos" class="button main-button" id="videos-button" data-en-label="Videos" data-ar-label="شرح بالفيديو">
        <i class="material-icons">play_circle</i>
        <div class="button-label">Videos</div>
    </a>
    <a href="{{ site.baseurl }}/en/contact" class="button main-button" id="contact-button" data-en-label="Contact Me" data-ar-label="اتصل بي">
        <i class="material-icons">contact_support</i>
        <div class="button-label">Contact Me</div>
    </a>
    <div class="button main-button has-sub" id="contents-button" data-en-label="Contents" data-ar-label="المحتويات">
        <i class="material-icons">menu_book</i>
        <div class="button-label">Contents</div>
    </div>

    
    <div class="sub-buttons" id="sub-buttons-contents">
        <a href="{{ site.baseurl }}/en/docs" class="sub-button" id="documentation-button" data-en-label="Documentation" data-ar-label="دليل الاستخدام">
            <i class="material-icons">menu_book</i>
            <div class="sub-button-label">Documentation</div>
        </a>
        <a href="{{ site.baseurl }}/en/docs/faq" class="sub-button" id="faq-button" data-en-label="FAQ" data-ar-label="الأسئلة الشائعة">
            <i class="material-icons">help_outline</i>
            <div class="sub-button-label">FAQ</div>
        </a>
        <a href="{{ site.baseurl }}/en/docs/installation" class="sub-button" id="installation-button" data-en-label="Installation" data-ar-label="التثبيت">
            <i class="material-icons">build</i>
            <div class="sub-button-label">Installation</div>
        </a>
        <a href="{{ site.baseurl }}/en/docs/introduction" class="sub-button" id="introduction-button" data-en-label="Introduction" data-ar-label="مقدمة">
            <i class="material-icons">info_outline</i>
            <div class="sub-button-label">Introduction</div>
        </a>
        <a href="{{ site.baseurl }}/en/docs/features" class="sub-button" id="features-button" data-en-label="Features" data-ar-label="ميزات">
            <i class="material-icons">list_alt</i>
            <div class="sub-button-label">Features</div>
        </a>
        <a href="{{ site.baseurl }}/en/docs/using-the-application" class="sub-button" id="using-pip-button" data-en-label="Using PiP" data-ar-label="كيفية الاستخدام">
            <i class="material-icons">list_alt</i>
            <div class="sub-button-label">Using PiP</div>
        </a>
    </div>
</div>