<div class="navbar">
    <div class="navbar-left">
        <div class="translate-widget">
            <div id="google_translate_element"></div>
        </div>
    </div>
    <div class="navbar-right">
        <a href="/CIPT/Docs/Videos"><i class="fab fa-youtube"></i> Videos</a>
        <a href="/CIPT/contact"><i class="fas fa-envelope"></i> Contact Me</a>
        <a href="/CIPT/about"><i class="fas fa-info-circle"></i> About CIPT</a>
        <div class="dropdown">
            <a class="dropbtn"><i class="fas fa-book"></i> Contents</a>
            <div class="dropdown-content">
                <a href="/CIPT/docs/introduction">Introduction</a>
                <a href="/CIPT/docs/installation">Installation</a>
                <a href="/CIPT/docs/features">Features</a>
                <a href="/CIPT/docs/using-the-application">Using the Application</a>
                <a href="/CIPT/docs/faq">FAQ</a>
            </div>
        </div>
        <a href="/CIPT/download"><i class="fas fa-download"></i> Download Center</a>
        <a href="/CIPT/"><i class="fas fa-home"></i> Home</a>
        <i id="search-icon" class="fas fa-search"></i>
    </div>
</div>
