<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    {% seo %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    {% if page.modern %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/modern-styles.css">
    {% endif %}
</head>
<body>
    {% include buttons.html %}
    <div class="main-content" id="main-content">
        {{ content }}
    </div>
    {% include footer.html %}
    {% include faq-toggle-script.html %}
  

    <script src="{{ site.baseurl }}/assets/js/message-script.js"></script>
    <script src="{{ site.baseurl }}/assets/js/sidebar.js"></script>
    <script src="{{ site.baseurl }}/assets/js/buttons.js"></script>
    <script src="{{ site.baseurl }}/assets/js/search.js"></script>
    <script src="{{ site.baseurl }}/assets/js/about.js"></script>
    <script src="{{ site.baseurl }}/assets/js/loading.js"></script> <!-- Loading screen JS -->
    <script src="{{ site.baseurl }}/assets/js/language-switch.js"></script>
    <script src="{{ site.baseurl }}/assets/js/logo.js"></script>
    <script src="{{ site.baseurl }}/assets/js/developer.js"></script>
</body>
</html>
